/* main style */

body {
    background-color: white;
}

.warn {
    color:red;
}
.error {
    color:red;
  }
.success {
    color:green;
}
.bold {
    font-weight: bold;
}

.head {
    display: inline;
    float:left;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt40 {
    margin-top: 40px;
}
.full {
    width:100%;
    display: block;
    overflow: hidden;
}

.full input, .full textarea {
    width: 100%;
    box-sizing:border-box;
}

.grid-search, .grid-filter{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: auto auto;
}
.grid-search > div, .grid-filter > div{
    padding: 1em;
}