/* main style */

body {
    background-color: white;
}

.warn {
    color:red;
}
.error {
    color:red;
  }
.success {
    color:green;
}
.bold {
    font-weight: bold;
}

.h1 {
    width: 100%;
    font-weight: bold;
    font-size: 2em;
}
.head {
    display: inline;
    float:left;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt40 {
    margin-top: 40px;
}
.full {
    width:100%;
    display: block;
    overflow: hidden;
}

.full input, .full textarea {
    width: 100%;
    box-sizing:border-box;
}

.grid-search, .grid-filter{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: auto auto;
}
.grid-search > div, .grid-filter > div{
    padding: 1em;
}

.calendar {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.calendar-title{
    font-weight: bold;
    border-bottom: 2px solid darkgray;
}

.calendar-column{
    display: inline-block;
    background-color: aliceblue;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.calendar-row{
    height: 10px;
    margin-top:-1px;
}

.calendar-event {
    border: 0px;
    background-color: darkgray;
}

.filter-panel{
    text-align: center;
}
.control-panel{
    text-align: center;
}
