<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!-- Class Event Title -->
<div th:fragment="event" id="class-event" style="display: none;">

    <div class="form-group row">
        <label for="category" class="col-3 col-form-label">Category:</label>
        <div class="col-9">
            <input type="text" id="category" class="form-control form-control-sm"/>
        </div>
    </div>

    <div class="form-group row">
        <label for="room" class="col-3 col-form-label">Room:</label>
        <div class="col-9">
            <input type="text" id="room" class="form-control form-control-sm"/>
        </div>
    </div>

    <div class="form-group row">
        <label for="description" class="col-3 col-form-label">Description:</label>
        <div class="col-9">
            <input type="text" id="description" class="form-control form-control-sm"/>
        </div>
    </div>

    <div class="text-left">
        <a href="#registration" class="js_registration btn btn-link" >Registration</a>
        <a href="#attendance" class="js_attendance btn btn-link" >Attendance</a>
    </div>

    <!--<div class="tab-content">-->
        <!--<div id="registration" class="tab-pane in active">-->
            <!--<p th:include="items/class-event :: attendance-table"></p>-->
        <!--</div>-->
    <!--</div>-->

    <div id="attendance-table">

    </div>
</div>


<!-- Class Event Registration -->
<th:block th:fragment="attendance-table">

    <table class="event-registration">
    <thead>
    <tr>
        <th width="10%">Members</th>
        <th width="10%">Temporary</th>
        <th width="25%">Name</th>
        <th width="25%"></th>
        <th width="30%"></th>
    </tr>
    </thead>
    <tbody>

    <tr th:if="${event.AttendanceTeacherForm!=null}"> <!-- teacher -->
        <td>
            <label th:replace="items/class-event :: seat-fixed(${event.attendanceTeacherForm}, '0')" ></label>
        </td>
        <td>
            <label th:replace="items/class-event :: seat-temporary(${event.attendanceTeacherForm}, '0')"></label>
        </td>
        <td th:if="${event.attendanceTeacherForm.name!=''}" th:text="${event.attendanceTeacherForm.name}"></td>
        <td th:if="${event.attendanceTeacherForm.select==true}">
            <th:block th:replace="items/class-event :: select-teacher"></th:block>
        </td>
        <td>
            <span th:if="${event.attendanceTeacherForm.attend==true}" class="js_status green" style="display: none;">ok</span>
            <span th:if="${event.attendanceTeacherForm.attend==false}" class="js_status red" style="display: none;">x</span>
            <div th:replace="items/class-event :: action(${event.attendanceTeacherForm.user},${event.attendanceTeacherForm.user2}, ${event.attendanceTeacherForm.id}, ${event.attendanceTeacherForm.action},'fixed_0', true, true)"></div>
        </td>
        <td>
            <button class="js_attend btn btn-link" href="@#todo" style="display: none;" onClick="return false;">attend</button>
            <div th:replace="items/class-event :: action(${event.attendanceTeacherForm.user}, ${event.attendanceTeacherForm.user2}, ${event.attendanceTeacherForm.id}, ${event.attendanceTeacherForm.action2},'temporary_0', false, true)"></div>
        </td>
    </tr>

        <!-- pupils -->
    <tr th:if="${event.attendanceForm!=null}" th:each="att,iterStat : ${event.attendanceForm}">
        <td>
            <label th:replace="items/class-event :: seat-fixed(${att}, ${iterStat.index + 1})" ></label>
        </td>
        <td>
            <label th:replace="items/class-event :: seat-temporary(${att}, ${iterStat.index + 1})"></label>
        </td>
        <td th:if="${att.name!=''}" th:text="${att.name}"></td>
        <td th:if="${att.select==true}">
            <th:block th:replace="items/class-event :: select-pupil"></th:block>
        </td>
        <td>
            <span th:if="${att.attend==true}" class="js_status green" style="display: none;">ok</span>
            <span th:if="${att.attend==false}" class="js_status red" style="display: none;">x</span>
            <div th:replace="items/class-event :: action(${att.user}, ${att.user2}, ${att.id}, ${att.action},'fixed_'+${iterStat.index + 1}, true, false)"></div>
        </td>
        <td>
            <button class="js_attend btn btn-link" href="@#todo" style="display: none;" onClick="return false;">attend</button>
            <div th:replace="items/class-event :: action(${att.user}, ${att.user2}, ${att.id}, ${att.action2},'temporary_'+${iterStat.index + 1}, false, false)"></div>
        </td>
    </tr>


    </tbody>
    </table>
<script src='/static/js/lib/jquery.min.js'></script>
<script src='/static/js/lib/select2.min.js'></script>
<script>
    var $j = jQuery.noConflict();
    $j(document).ready(function() {
        $j("input.js_fixed").bind('click',function(){
            var id = $j(this).data('id')
            var f = $j('.fixed_' + id);
            var t = $j('.temporary_' + id);
            $j('.js_actions :button').hide();
            f.show();
            t.hide();
        });
        $j("input.js_temporary").bind('click',function(){
            var id = $j(this).data('id')
            var f = $j('.fixed_' + id);
            var t = $j('.temporary_' + id);
            $j('.js_actions :button').hide();
            f.hide();
            t.show();
        });
        $j('.js-teacher').select2({
            ajax: {
                url: '/event-calendar/selectData?id=teacher',
                dataType: 'json'
            },
            placeholder: "Select a teacher",
            allowClear: true
        });
        $j('.js-pupil').select2({
            ajax: {
                url: '/event-calendar/selectData?id=pupil',
                dataType: 'json'
            },
            placeholder: "Select a pupil",
            allowClear: true
        });

        $j('.js_btn_action').bind('click',function(event){

            event.preventDefault();

            var attId = $j(this).data('attendance');
            var user = $j(this).data('user');
            var user2 = $j(this).data('user2');
            console.log(user);
            console.log(user2);

            //fixme: better selector who is not depends on html layout
            var select_value = $j(this).parents('tr').find('select').val();

            if (user === "undefined" || user=="undefined" || user == null || user == 0){
                user = select_value;
            }

            if (user2 === "undefined" || user2=="undefined" || user2 == null || user2 == 0){
                user2 = select_value;
            }
            console.log(user);
            console.log(user2);
            var action = $j(this).data('action');
            var fixed = $j(this).data('fixed');
            var teacher = $j(this).data('teacher');
            var data = {
                attendanceId : attId,
                user : user,
                user2 : user2,
                action : action,
                fixed : fixed,
                teacher : teacher
            };
            $j.ajax({
                url: '/event-calendar/action',
                type: 'post',
                data: data
            }).done(function(classInstanceId) {

                $j("#attendance-table").load('/event-calendar/attendance/'+classInstanceId, function() {
                    $j('.js_actions :button').hide();
                    $j('.js_status :button').hide();
                    $j('.js_attend :button').hide();
                });

            }).fail(function(xhr, status, error) {
                console.error(error);
            });

            return false;

        });
    });


</script>
</th:block>

<!-- seat image fixed -->
<label th:fragment="seat-fixed(att, id)">
    <input th:if="${att.fixed!=null}" class="js_fixed" th:attr="data-id=${id}" type="radio" th:name="'seat'+${att.id}" value="fixed" />
    <img   th:if="${att.fixed!=null}" th:src="'/static/img/'+${att.fixed.url}"/>
</label>

<!-- seat image temporary -->
<label  th:fragment="seat-temporary(att, id)">
    <input th:if="${att.temporary!=null}" class="js_temporary" th:attr="data-id=${id}" type="radio" th:name="'seat'+${att.id}" value="temporary" />
    <img th:if="${att.temporary!=null}" th:src="'/static/img/'+${att.temporary.url}"/>
</label>

<!-- choosing teacher from selectbox2 -->
<th:block th:fragment="select-teacher">
    <select style="width: 200px" class="js-teacher select2" data-placeholder="Search a teacher"
            name="teacher">
    </select>
</th:block>

<!-- choosing pupil from selectbox2 -->
<th:block th:fragment="select-pupil">
    <select style="width: 200px" class="js-pupil select2" data-placeholder="Search a pupil"
            name="pupil">
    </select>
</th:block>

<!-- action buttons -->
<div th:fragment="action(user, user2, attendance, type, clazz, isFixed, isTeacher)" class="js_actions">

    <th:block th:each="t : ${type}">
        <button th:if="${t==T(com.vitta_pilates.core.event.component.AttendanceForm.Action).ENROLL}"
                th:class="${clazz} + ' js_btn_action'" th:text="enroll" style="display:none;"
                th:attr="data-attendance=${attendance},data-user=${user},data-user2=${user2},data-action='enroll',data-fixed=${isFixed},data-teacher=${isTeacher}"
        >
        </button>
        <button th:if="${t==T(com.vitta_pilates.core.event.component.AttendanceForm.Action).UNENROLL}"
                th:class="${clazz} + ' js_btn_action'" th:text="unenroll" style="display:none;"
                th:attr="data-attendance=${attendance},data-user=${user},data-user2=${user2},data-action='unenroll',data-fixed=${isFixed},data-teacher=${isTeacher}"
        ></button>
        <button th:if="${t==T(com.vitta_pilates.core.event.component.AttendanceForm.Action).ENROLL_SUSPENDED}"
                    th:class="${clazz} + ' js_btn_action'" th:text="enroll" style="display:none;"
                    th:attr="data-attendance=${attendance},data-user=${user},data-user2=${user2},data-action='enroll_suspended',data-fixed=${isFixed},data-teacher=${isTeacher}"
        >
        </button>
        <button th:if="${t==T(com.vitta_pilates.core.event.component.AttendanceForm.Action).SUSPEND}"
                th:class="${clazz} + ' js_btn_action'" th:text="suspend" style="display:none;"
                th:attr="data-attendance=${attendance},data-user=${user},data-user2=${user2},data-action='suspend',data-fixed=${isFixed},data-teacher=${isTeacher}"
        >
        </button>
        <button th:if="${t==T(com.vitta_pilates.core.event.component.AttendanceForm.Action).UNSUSPEND}"
                th:class="${clazz} + ' js_btn_action'"  th:text="unsuspend" style="display:none;"
                th:attr="data-attendance=${attendance},data-user=${user},data-user2=${user2},data-action='unsuspend',data-fixed=${isFixed},data-teacher=${isTeacher}"
        >
        </button>
        <span th:class="${clazz}" th:if="${type==''}"></span>
    </th:block>

</div>

</html>